.card {
  display: flex;
  flex-direction: column;
  background-color: #5c848e;
  border: 1px solid #decdc3;
  border-radius: 5px;
  padding: 25px;
  cursor: pointer;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
  }
  
  .card:hover {
    transform: scale(1.02);

  }
  .card--title {
    margin-bottom: 0.5rem;
    font-size: 3.2rem;
  }
  
  .card--image {
    display: block;
    border-radius: 5px;
    max-width: 100%;
    object-fit: cover;
  }